<div id="content" class="container">
    <div id="navigation" class="navbar">
        <a>
            <div class="navbar-brand">
                <h1 class="vcenter">
                    PDF <span class="logo-text-converter">Converter</span>
                </h1>
            </div>
        </a>
    </div>

    <div class="control-form">

        <div class="control-form well">
            <div class="page-name">
                <h2 class="text-center">
                    Convert Word Files to PDF
                </h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="clientUploadFileHolder">
                        <div class="k-widget k-upload k-header k-upload-empty">
                            <div class="k-dropzone">
                                <div class="k-upload-button btn btn-lg btn-primary">
                                    <input type="file" id="clientUpload" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" autocomplete="off">
                                    <div class="k-upload-button-icon">
                                        <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
                                        <i class="fa text-dir-fa-arrow fa-2x" aria-hidden="true"></i>
                                        <i class="fa fa-file-pdf-o fa-4x" aria-hidden="true"></i>
                                    </div>
                                    <div class="k-upload-button-text">Select doc/docx/rtf file</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="alert alert-danger">
                    <h3 class="text-center">
                        <strong>Error!</strong> File type must be in either doc, docx or rtf format.
                    </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="loading">
                    <span class="loader"></span>
                </div>
            </div>
        </div>

        <div class="alert alert-info">
            Convert documents in doc, docx or rtf format into PDF. Use the Select file... button to locate the document on your computer.
        </div>


        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-8">
                        <div>
                            <span class="fileName">
              fileName.pdf
                          </span>
                        </div>
                    </div><br>

                    <div class="col-md-4">
                        <div>
                            <button class="btn btn-lg btn-primary">Download
                              File
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>